*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgb(226, 224, 224);
}

header h1 {
    padding: 8px;
    color: dimgray;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}


form {
    display: flex;
    justify-content: center;
}

form input {
    font-size: 18px;
    border: none;
    padding: 8px;
}

form button {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    border: none;
    font-size: 18px;
    color: #fff;
    background-color: dimgray;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    font-size: 16px;
}

.finalizado{
    text-decoration: line-through;
    cursor: pointer;
}